body{
    background-color: black;
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    font: bold;
}

p{
    font-size: large;
}

#mid-sect{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    /* justify-content: space-between; */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    height: 700px;
    column-fill: balance;
    width:100%;
}

#mid-1{
    width:calc(100% / 3);
    background-image: url('assets/abstract-5985789_960_720.jpeg');
    transition: 1s;
    background-size: cover;
  
}

#mid-2{
    width:calc(100% / 3);
    background-image: url('assets/abstract-5985792_960_720.jpeg');
    transition: 1s;
    background-size: cover;
  
}

#mid-3{
    width:calc(100% / 3);
    background-image: url('assets/abstract-5985795_960_720.jpeg');
    transition: 1s;
    background-size: cover;
    
    
}

#mid-1:hover{
    filter: hue-rotate(120deg);
    transition: 1s;
}

#mid-2:hover{
    filter: hue-rotate(120deg);
    transition: 1s;
}

#mid-3:hover{
    filter: hue-rotate(120deg);
    transition: 1s;
}

#top-sect{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    height: 700px;
    background-image: url('assets/daniel-olah-dFA5XycbhoQ-unsplash.jpg');
    transition: 1s;
    background-size: cover;
}


#top-sect:hover{
    filter: hue-rotate(120deg);
    transition: 1s;
}

#project-top-sect{
    display: flex;
    /* flex-wrap: wrap; */
    /* -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row; */
    height: 700px;
    width: 230px;
    /* background-image: url('/Users/beaumont_prog/Desktop/lectures/beaumont_WEF/assets/joel-filipe-QwoNAhbmLLo-unsplash.jpg'); */
    background: linear-gradient(to right, transparent, black), url('assets/jeremy-bishop-QtIXL7C4bB0-unsplash.jpg');
    transition: 1s;
    background-size: cover;
}

#bio-top-sect{
    display: flex;
    height: 700px;
    width: 230px;
    background: linear-gradient(to right, transparent, black), url('assets/pawel-czerwinski-tMbQpdguDVQ-unsplash.jpg');
    transition: 1s;
    background-size: cover;
}

#bio-top-sect:hover{
    filter: grayscale(50%);
    transition: 1s;
}

#project-top-sect:hover{
    filter: grayscale(50%);
    transition: 1s;
}

#idea-top-sect{
    display: flex;
    height: 700px;
    width: 230px;
    background: linear-gradient(to right, transparent, black), url('assets/ricardo-gomez-angel-GsZLXA4JPcM-unsplash.jpg');
    transition: 1s;
    background-size: cover;
}

#idea-top-sect.hover{
    filter: grayscale(50%);
    transition: 1s;
}

#project-1{
    display: flex;
    /* flex-wrap: wrap; */
    -webkit-box-pack: justify;
    /* justify-content: space-between; */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: column;
    height: 1000px;
    margin-top: 30px;
}

#low-sect{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    height: 700px;
    background-image: url('assets/jc-dela-cuesta-MgG-w0Dg_Ek-unsplash.jpg');
    transition: 1s;
    background-size: cover;
}

#low-sect:hover{
    filter: hue-rotate(80deg);
    transition: 1s;
}

.self-projects{
    margin: 30px;
    position: absolute;
    bottom: 0;
}

.text-content{
    width: 350px;
    word-wrap: break-word;
}

a{
    font-size: x-large;
    color: whitesmoke;
    text-decoration: none;
}

a:hover{
    color: whitesmoke;
    text-decoration: none;
}

.self-projects{
    border-top: 3px solid white;
    width: fit-content;
}

footer{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    height: 80px;
    margin: 45px;
}

.head-section{
    margin: 30px;
}

.text-content{
    margin: 30px;
}

#canvas{
    width: 1125px;
    height: 550px;
    margin-bottom: 15px;
    display: flex;
    justify-content: left;
    /* border-radius: 12px; */
}


.box-container{
    display: flex;
    width: auto;
    height: auto;
    /* justify-content: space-around; */
}

.row{
    width: 1125px;
}

.col-sm-3{
    display: flexbox;
    align-items: center;
}

#funny {
    padding: 5px;
    width: 50px;
  }

#funny:hover {
    transform: scale(-1);
    }

#sample{
    border: 3px solid darkslategray;
    /* display: flex; */
    width: 35%;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 5px;
    display: flexbox;
    align-items: center;
}

/* navigation */
/* #nav-bloc {
    margin-top: 30px;
  }
  
  .navbar{
      margin-bottom: 0;
  }
  .navbar-brand{
      font-size: 25px;
      font-weight: 600;
  }
  .navbar-brand img{
      width: auto;
      max-height: 100px;
      margin: -12px 5px 0 0;
  }
  .navbar-brand{
      padding: 15px 15px;
  }
  .navbar .nav{
      padding-top: 2px;
      margin-right: -16px;
      float:right;
  }
  .nav > li{
      float: left;
      margin-top: 4px;
      font-size: 16px;
  }
  .nav > li a:hover{
      background:transparent;
  }
  .navbar-toggle{
      margin: 12px;
      border: 0px;
  }
  .navbar-toggle:hover{
      background:transparent!important;
  }
  .navbar-toggle .icon-bar{
      background-color: rgba(0,0,0,.5);
      width: 26px;
  }
  .navbar-collapse.in {
  overflow-y: visible;
  float: left;
  width: 100%;
  }
  .navbar-1 {
    float: right;
  }
  .site-navigation:first-child {
    float: left;
  }
  .site-navigation:nth-child(2) {
    float: right;
  }
  .site-navigation:nth-child(2) a {
    color: #ccc;
    font-size: 85%;
    padding-right: 0px;
  }
  
  .site-navigation .nav > .active{
    color: #333;
  } */

  .box a {
    color: transparent;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:yellow;
    position: absolute;
    -webkit-animation: moveX 5.05s linear 0s infinite alternate, moveY 5.4s linear 0s infinite alternate;
    -moz-animation: moveX 5.05s linear 0s infinite alternate, moveY 5.4s linear 0s infinite alternate;
    -o-animation: moveX 5.05s linear 0s infinite alternate, moveY 5.4s linear 0s infinite alternate;
    animation: moveX 5.05s linear 0s infinite alternate, moveY 5.4s linear 0s infinite alternate;
  }
  
  @-webkit-keyframes moveX {
    from { left: 0; } to { left: 98%; }
  }
  @-moz-keyframes moveX {
    from { left: 0; } to { left: 98%; }
  }
  @-o-keyframes moveX {
    from { left: 0; } to { left: 98%; }
  }
  @keyframes moveX {
    from { left: 0; } to { left: 98%; }
  }
  @-webkit-keyframes moveY {
    from { top: 0; } to { top: 98%; }
  }
  @-moz-keyframes moveY {
    from { top: 0; } to { top: 98%; }
  }
  @-o-keyframes moveY {
    from { top: 0; } to { top: 98%; }
  }
  @keyframes moveY {
    from { top: 0; } to { top: 98%; }
  }